Flask==2.3.3
Flask-CORS==4.0.0
numpy==2.1.3
pandas==2.0.3
scikit-learn==1.7.1
nltk==3.8.1
requests==2.31.0
beautifulsoup4==4.12.2
joblib==1.3.2
spacy==3.6.1
textstat==0.7.3
google-generativeai==0.3.2
newspaper3k==0.2.8
python-dotenv==1.0.1
lxml[html_clean]
google-search-results==2.4.2
serpapi==0.1.5
gunicorn==21.2.0
